out
node_modules
.vscode-test/
*.vsix
wasm
.DS_Store
coverage
.wdio-vscode-service
examples/fresh/deno.lock
tests/e2e/logs
tests/e2e/screenshots
bin
vscode-runme-CHANGELOG.txt
/tls
.package.json
.node_modules
examples/.vscode
assets/icon.gif
assets/logo-open-dark.svg
assets/logo-open-light.svg
assets/logo-sidebar.svg
