/**/*.*
!src/**/*.ts
!src/**/*.tsx
!src/**/*.js
!src/**/*.jsx
!tests/**/*.ts
!tests/**/*.tsx
!tests/**/*.js
!tests/**/*.jsx


out
node_modules
.vscode-test/
*.vsix
wasm
.DS_Store
coverage
.wdio-vscode-service
examples/fresh/deno.lock
tests/e2e/logs
tests/e2e/screenshots
bin
vscode-runme-CHANGELOG.txt
__generated__
