<%
let code = it.code
for (const c of Object.keys(it.components)) {
  code = code.replace(`<${c}`, `<\${${c}}`).replace(`</${c}`, `</\${${c}}`)
}
%><html>
  <head>
    <style>
      html, body {
        padding: 0;
        margin: 0;
      }
    </style>
    <script src="https://unpkg.com/htm@2.2.1" crossorigin></script>
    <script type="module">
      import React from 'react'
      import { createRoot } from 'react-dom/client'

      <% for (const [name, src] of Object.entries(it.components)) {
        %>import * as <%= name %>Import from '<%= src.startsWith('"') || src.startsWith("'") ? src.slice(1, -1) : src %>';
        const <%= name %> = <%= name %>Import.default || <%= name %>Import.<%= name %>;
      <% } %>

      const { createElement, useState } = React
      const html = htm.bind(createElement)

      const root = createRoot(document.getElementById('root'));
      root.render(html`<%~ code %>`);
    </script>
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
